# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests
tests
*.test.ts
*.test.tsx
coverage

# Documentation
*.md

# Docker
Dockerfile
.dockerignore
