# Dependencies
node_modules

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests
tests
*.test.js
coverage

# Documentation
*.md
docs

# Docker
Dockerfile
.dockerignore
